body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom ,#a8c3a8 ,#ddf6dd);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.flipbook {
    height: 83vh !important; 
    width: 65vw !important;   
    border-radius: 2vw;
    overflow: hidden;
    margin-bottom: 1.85vh;
}

.hard {
    background-size: cover;
    background-position: center;
    box-shadow: 0 1.85vh 3.7vh rgba(0, 0, 0, 0.4),    
                inset -0.26vw 0 0.52vw rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0.1vw 0.1vw 0.2vw rgba(0,0,0,0.5);
}

.page {
    background-color: #f9f5ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-controls {
    display: flex;
    gap: 0.52vw;
    margin-top: 1.85vh;
    position: fixed;
    bottom: 1.85vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.page-controls button {
    padding: 0.93vh 1.85vw;
    border: none;
    border-radius: 0.26vw;
    background: #175c17;
    color: white;
    cursor: pointer;
    font-size: 2.78vh;
}

.page-controls button:hover {
    background: #3ce23c;
}

.page, .hard {
    width: 50%;
    height: 100%;
    float: left;
}

.page-content textarea {
    height: 83.5vh;
    width: 32.5vw;
    padding: 2.78vh;
    box-sizing: border-box; 
    font-size: 2.78vh;
    resize: none;
}

h1{
    font-size: 7vh;
    word-break: break-word;
    padding: 2.78vh;
    position: absolute;
    top: 1vh;
}

p{
    position: absolute;
    bottom: 3vh;
    font-size: 3.7vh;
    word-break: break-word;
    padding: 2.78vh;
}
