body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.upperdiv{
    position:absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    

}

.lowerdiv{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

.cards{
    height: 925px;
    width: 475px;
    border-radius: 51px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    
}

.innercards{
    height: 850px;
    width: 425px;
    border-radius: 51px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}


#story{
    background: linear-gradient(to bottom ,#bba1d1,#efdef6);
}

#diary{
    background: linear-gradient(to bottom ,#a8c3a8 ,#ddf6dd);
}

#work{
    background: linear-gradient(to bottom ,#c7b199,#f6e9d7);
}

#task{
    background: linear-gradient(to bottom ,#f4b183,#fbe1bf);
}

.heading{
    text-align: center;
    font-size: 85px;
    height: 100px;
    position: absolute;
    top: 51px;
    font-family: 'abril fatface';
    line-height: 1.1;
}

.subheading{
    text-align: center;
    font-size: 42px;
    height: 100px;
    position: absolute;
    top: 265px;
    font-family: 'raleway';
    left: 30px;
    right: 30px;
    letter-spacing: 5px;
}

.cardinfo{
    text-align: center;
    font-size: 34px;
    height: 100px;
    position: absolute;
    bottom: 51px;
    font-family: 'lato';
    right: 30px;
    left: 30px;
}

.cards:hover {
  opacity: 0;
  transform: scale(0.99);
  transition: 0.1s ease;
  cursor: pointer;
}

#innerstory{
    border: 5px dashed #bba1d1;
    color: #bba1d1;
    font-size: 50px;
}

#innerdiary{
    border: 5px dashed #a8c3a8;
    color: #a8c3a8;
    font-size: 50px;
}

#innerwork{
    border: 5px dashed #c7b199;
    color: #c7b199;
    font-size: 50px;
}

#innertask{
    border: 5px dashed #f4b183;
    color: #f4b183;
    font-size: 50px;
}

.headline{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-style: bolder;
    color: #8e572a;
    position: absolute;
    top: 50px;
    left: 600px;
}